@model IEnumerable<Booking_Hotel.Models.data.rent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
@section css{
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script src="~/Content/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/Admin/js/demo/datatables-demo.js"></script>
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản lý đơn thuê</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Toàn bộ đơn thuê
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT</th>
                            <th>Ngày giờ</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT</th>
                            <th>Ngày giờ</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{var i = 1; }
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_rent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                                <td>
                                    <a href="@Url.Action( "Details","rents", new { id = item.id_rent })" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info"></i>
                                        </span>
                                        <span class="text">Chi tiết</span>
                                    </a>
                                    @if (item.bills.Where(j => j.id_rent == item.id_rent).Count() == 0)
                                    {
                                        <a href="@Url.Action("DeleteConfirmed","rents", new { id = item.id_rent })" onclick="return confirm('Bạn có chắc chắn muốn xoá?');" class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span class="text">Xoá</span>
                                        </a>
                                    }
                                    else
                                    {
                                        if (item.bills.Where(j => j.id_rent == item.id_rent).Select(j => j.date_end).Single() == null)
                                        {
                                            <span class="badge badge-secondary">Đang thuê</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">Đã hoàn thành</span>
                                        }
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

