
<div class="card-body p-4 p-md-5">
    <!-- Invoice table-->
    <div class="table-responsive">
        <table class="table table-borderless mb-0">
            <thead class="border-bottom">
                <tr class="small text-uppercase text-muted">
                    <th>STT</th>
                    <th scope="col">Tên phòng</th>
                    <th class="text-end" scope="col">Số lượng</th>
                    <th class="text-end" scope="col">Giá / ngày</th>
                    <th class="text-end" scope="col">Tổng</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;
                    int tongall = 0;
                }
                @foreach (var item in Model)
                {
                    int tong = (int)(item.amount * item.room.price);
                    <!-- Invoice item 1-->
                    <tr class="border-bottom">
                        <td>@i</td>
                        <td>
                            <div class="fw-bold">@item.room.name</div>
                        </td>
                        <td class="text-end fw-bold">@item.amount</td>
                        <td class="text-end fw-bold">@item.room.price.ToString("#,##0").Replace(',', '.')</td>
                        <td class="text-end fw-bold">@tong.ToString("#,##0").Replace(',', '.')</td>
                    </tr>
                    tongall += tong;
                    i++;
                }
                <!-- Invoice total-->@{TempData["tong"] = tongall;}
                <tr>
                    <td class="text-end pb-0" colspan="3"><div class="text-uppercase small fw-700 text-muted">Tổng / ngày:</div></td>
                    <td class="text-end pb-0"><div class="h5 mb-0 fw-700 text-green">@tongall.ToString("#,##0").Replace(',', '.')<small>VNĐ</small></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

