@model Booking_Hotel.Models.data.blog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h2>Chỉnh sửa bài viết</h2>

@using (Html.BeginForm("Edit", "blogs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-10">Ảnh chính(<small>Ảnh sẽ được giữ nguyên nếu không up ảnh mới</small>)</label>
            <div class="col-md-10">
                <input type="file" name="Image" id="Image">

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.head, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.head, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.head, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.blog_content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.blog_content, new { @class = "form-control", @id = "contentt" })
                @Html.ValidationMessageFor(model => model.blog_content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">s
            @if (Model.IsActive == true)
            {
                <input class="custom-checkbox" style="width:30px;height:20px;margin-left:10px" type="checkbox" checked name="IsActive" value="true">
            }
            else
            {
                <input class="custom-checkbox" style="width:30px;height:20px;margin-left:10px" type="checkbox" id="customCheckbox2" name="IsActive" value="true">
            }
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger", @style = "padding-left:0" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Xác nhận</span>
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
@section scripts {
    <script>CKEDITOR.replace('contentt');</script>
}