<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-envelope fa-fw"></i>
    <!-- Counter - Messages -->
    <span class="badge badge-danger badge-counter">@ViewBag.Mail</span>
</a>
<!-- Dropdown - Messages -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
     aria-labelledby="messagesDropdown">
    <h6 class="dropdown-header">
        Thư vừa đến
    </h6>
    @{ var i = 0;}
    @foreach (var item in Model)
    {
        if (i != 5)
        {
            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("MailDetail", new {id = item.ContactId})">
                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="~/Content/images/user.png"
                         alt="...">
                    <div class="status-indicator bg-success"></div>
                </div>
                <div>
                    <div class="an text-truncate">
                        @item.Message
                    </div>
                    <div class="small text-gray-500">@item.Name · @item.CreatedDate</div>
                </div>
            </a>
            i++;
        }
        else
        {
            break;
        }


    }
    <a class="dropdown-item text-center small text-gray-500" href="@Url.Action("AllMail","Home")">Xem toàn bộ thư</a>
</div>
