@model IEnumerable<Booking_Hotel.Models.data.room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
@section css{
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script src="~/Content/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/Admin/js/demo/datatables-demo.js"></script>
}ssss

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản lý phòng</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="@Url.Action("Create","Room")" class="btn btn-success btn-circle">
                    <i class="fas fa-plus"></i>
                </a>               Các phòng hiện tại
            </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Phòng</th>
                            <th>Giá</th>
                            <th>Ảnh</th>
                            <th>Khách Sạn</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên Phòng</th>
                            <th>Giá</th>
                            <th>Ảnh</th>
                            <th>Khách Sạn</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{var i = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @if (item.image != null)
                                    {
                                        <img src="@Url.Content(item.image)" width="113px" height="75px" alt="Ảnh" />

                                    }
                                    else
                                    {<span>NULL</span>}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.types.type1)
                                </td>
                                <td>
                                    <a href="@Url.Action( "Edit", new { id = item.id_room })" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        <span class="text">Sửa</span>
                                    </a>
                                    <a href="@Url.Action("DeleteConfirmed","Room", new { id = item.id_room })" onclick="return confirm('Bạn có chắc chắn muốn xoá?');" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Xoá</span>
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>